<nav class="navbar navbar-inverse">
  <div class="container navbar">
    <ul class="navigation">
      <li class="home"><a href="/">TRAIN TRAFFIC</a><li>
          <% if (user) {%>
            <li><a>Welcome, <%= user.username %> !</a></li>
            <li>
              <a>
                <form method="post" action="/users/logout?_method=DELETE" class="form-horizontal">
                  <button type="submit" class="btn btn-default">Logout</button>
                </form>
              </a>
            </li>
          <% } %>

        <% if (!(user)) {%>
            <li><a href="/users/new">Sign-Up</a></li>
            <li><a href="/users/login">Login</a></li>
        <% } %>
        </ul>
    </div>
  </div>
</nav>
