<nav>
    <ul class="navigation">
      <li class="home"><a href="/trains">TRAIN TRAFFIC</a><li>

      <% if (user) {%>
      <li><a>Yio, <%= user.username %> !</a></li>
      <li><a><form method="post" action="/users/logout?_method=DELETE" class="form-horizontal">
            <button type="submit" class="logout">Logout</button>
          </form></a></li>
      <% } %>

      <% if (!(user)) {%>
      <li><a href="/users/new">Sign-Up</a></li>
      <li><a href="/users/login">Login</a></li>
        <% } %>
    </ul>
</nav>
