<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <%- include ../partials/head.html.ejs %>
  </head>
    <header>
      <%- include ../partials/nav.html.ejs %>
    </header>
    <body>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="widget">
          <script type="text/javascript" src="http://www.mta.info/sites/all/libraries/mta_WidgetScripts/serviceStatusWidget.js"></script>
        </div>
      </div>
    </div>

    <% if (!(user)) {%>
      <div class="container">
        <h1> Welcome! </h1>
        <p>Sign-In or Sign-up for an account to view minute-by-minute updates at your train stop!</p>
      </div>
    <% } %>
    <% if (user) {%>
      <h1>Hello Again</h1>
      <button><a href="/trains">TRAINS</a></button>
    <% } %>
  </body>
</html>
