<html lang="en">
<head>
  <head>
    <%- include ../partials/head.html.ejs %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav.html.ejs %>
    </header>
    <div class="widget">
      <script type="text/javascript" src="http://www.mta.info/sites/all/libraries/mta_WidgetScripts/serviceStatusWidget.js"></script>
    </div>
    <% if (!(user)) {%>
      <div class="container">
        <h1> Welcome! </h1>
        <p>Sign-In or Sign-up for an account to view minute-by-minute updates at your train stop!</p>
      </div>
    <% } %>
    <% if (user) {%>
      <h1>Train Lines</h1>
      <% for(var i = 0; i < data.length; i++) { %>

             <h2><a href="/trains/<%= data[i].id %>"><%= data[i].name %></a></h2>

         <% } %>
    <% } %>
  </body>
</html>
